body {
    background-image: url("../img/blackmetal.jpg");
    font-family: 'Monoton', cursive;
}


.container {
    position: relative;
    left: 33%;
}

#outerBox{
    background-image: url("../img/harambe.jpg");
    border-radius: 30%;
    width: 50em;
    height: 50em;
    position: relative;
    top: 5em;
    right:;

    /*background-image: -webkit-radial-gradient( circle cover, #373737, black);*/
}

.circle {
    border-radius: 50%;
}

#headerMain {
    position: relative;
    top: 17em;
    left: 1.3em;
    color: #ff892b;
    z-index: 1;
}

#redTile {
    width: 17em;
    height: 17em;
    position: relative;
    top: 1.5em;
    left: 16.5em;
    background-image: -webkit-radial-gradient( circle cover, magenta, red);

}
#greenTile {
    width: 17em;
    height: 17em;
    position: relative;
    left: 31em;

    background-image: -webkit-radial-gradient(circle cover, aqua, green);

}
#blueTile {
    width: 17em;
    height: 17em;
    position: relative;
    bottom: 17em;
    left: 2em;


    background-image: -webkit-radial-gradient(circle cover, cyan, blue);

}
#yellowTile {
    width: 17em;
    height: 17em;
    position: relative;
    bottom: 19em;
    left: 16.5em;


    background-image: -webkit-radial-gradient(circle cover, yellow, orange);

}
.shadedTile {
    background-color: #3c3c3c;
    opacity: .7;
}
#startBtn {
    position: relative;
    bottom: 43em;
    left: 21.5em;
}